body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: white;
}
h1 {
    text-align: center;
    background-color: honeydew;
    margin: 0px;
    padding: 2rem;
}
ul {
    padding-inline-start: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}
ul > li {
    list-style-type: none;
    background-color: aquamarine;
    margin: 0px;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
}
ul > li:hover {
    background-color: color-mix(in hsl, aquamarine 75%, black);
}
ul > li > a {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 0px;
    padding: 1rem;
    flex: 1;
}