body {
    margin: 0px;
    padding: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
}
.home-button {
    text-decoration: none;
    background-color: honeydew;
    color: black;
    display: block;
    text-align: center;
    padding: 1rem;
}
.home-button:hover {
    background-color: color-mix(in hsl, honeydew 95%, black);
}
h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    background-color: color-mix(in hsl, honeydew 95%, black);
}
.intro {
    background-color: honeydew;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 13fr;
    grid-template-areas: 
        'img h2'
        'img p';
}
.intro > img {
    grid-area: img;
    width: calc(calc(3/5)*calc(100vw - 2rem));
    height: auto;
    margin: 1rem;
}
.intro > h2 {
    grid-area: h2;
    text-align: center;
    margin-inline-end: 1rem;
    margin-block-end: 0rem;
}
.intro > p {
    grid-area: p;
    margin-inline-end: 1rem;
}

main {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'ingredients steps';
    gap: 1rem;
    margin-block-start: 1rem;
}
main h2,
main h3 {
    text-align: center;
}
main h2 {
    margin-block-start: 0px;
}
main h3 {
    margin-block-start: 1rem;
    margin-block-end: 0.25rem;
    text-decoration: underline;
}
main ul,
main ol {
    margin: 0px;
}
main .ingredients {
    grid-area: ingredients;
}
main .steps {
    grid-area: steps;
}
main .steps ol li {
    margin-block-end: 1rem;
}
main > * {
    background-color: honeydew;
    padding: 1rem;
}